{% extends 'base.html' %}
{% load static %}

{% block main %}

    <style>
        .home {
            height: 80vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
            background-image: url(https://template77142.motopreview.com/mt-demo/77100/77142/mt-content/uploads/2019/01/mt-1733-home-header-bg.jpg);
        }
    </style>

    <div class="home text-center d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6" data-aos="fade-up-right">
                    <h1 class="fs-1 fw-bolder" style="color: #f5f8f8;">Sistema de gerenciamento de coleta de lixo</h1>
                    <p class="mb-5" style="color: #f5f8f8;">Deixando seu mundo mais colorido!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}